/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/


header {
  color: #553100;
  background-color: #FFDBAA;
  height: 120px;
  font-size: 35px;
  }

button {
  width: 140px;
  height: 70px;
  background-color: #553100;
  color: rgb(255, 255, 255);
  float: right;
  margin: 10px;
  font-size: 25px;
  font
}

body {
  background-color: #D4A76A;
}
